.DS_Store
checkpoints/
checkpoints_paper/
results/
build/
tmp/
*.png
*.pth
*/*.pth
*/*/*.pth
*/*.png
*/*/*.png
torch.egg-info/
*/**/__pycache__
docs/src/**/*
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*
*~
.idea
runs
__pycache__
